apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-dpod
  namespace: roboshop
spec:
  replicas: 2
  selector:
    matchLabels:
      app: website
  template:
    metadata:
      labels:
        app: website
    spec:
      containers:
      - name: website
        image: nginx
        ports:
        - containerPort: 80
